---
import { uaeProfessions } from "../../../data/uae/salaries";

export function getStaticPaths() {
  return uaeProfessions.map((p) => ({
    params: { profession: p.slug },
    props: { profession: p },
  }));
}

const { profession: p } = Astro.props;
const newUrl = `https://taxfreesalaries.com/uae/salaries/${p.slug}/`;
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Redirecting</title>
  <link rel="canonical" href={newUrl} />
  <meta http-equiv="refresh" content={`0;url=${newUrl}`} />
  <meta name="robots" content="noindex, follow" />
</head>
<body><p>This page has moved to <a href={newUrl}>{newUrl}</a>.</p></body>
</html>
